@import "tailwindcss";
@import "tw-animate-css";

html,
body,
#root {
  height: auto;
  min-height: 100vh;
}

form.form-sticky-active {
  gap: 0;
  transition: gap 0.5s;
  padding-top: 2px;
  padding-bottom: 2px;
}

h1.form-sticky-active {
  display: none;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: hsl(30 20% 90%);
  --foreground: hsl(197.9, 87.4%, 7.7%);
  --card: hsl(30 20% 90%);
  --card-foreground: hsl(197.9, 87.4%, 7.7%);
  --popover: hsl(30 20% 90%);
  --popover-foreground: hsl(197.9, 87.4%, 7.7%);
  --primary: hsl(187.9 47.7% 65.1%);
  --primary-foreground: hsl(197.9, 87.4%, 7.7%);
  --secondary: hsl(270, 50%, 70%);
  --secondary-foreground: hsl(16.9, 71.8%, 0.3%);
  --muted: hsl(270 94% 28%);
  --muted-foreground: hsl(192.9, 59.1%, 14.6%);
  --accent: hsl(270, 100%, 95%);

  --accent-foreground: hsl(16.9, 71.8%, 0.3%);
  --destructive: hsl(187.9, 47.7%, 65.1%);
  --destructive-foreground: hsl(hsl(357, 100%, 31%) %);
  --border: hsl(192.9, 22.7%, 83.9%);
  --input: hsl(192.9, 22.7%, 83.9%);
  --ring: hsl(197.9, 87.4%, 7.7%);
  --radius: 0.5rem;
  --friend: hsl(54, 100%, 45%);
}

.dark {
  --background: hsl(216, 94%, 19%);
  --foreground: hsl(272.3, 16.2%, 92.3%);
  --card: hsl(216, 94%, 19%);
  --card-foreground: hsl(272.3, 16.2%, 92.3%);
  --popover: hsl(216, 94%, 19%);
  --popover-foreground: hsl(272.3, 16.2%, 92.3%);
  --primary: hsl(194, 76%, 37%);
  --primary-foreground: hsl(275.2, 2.8%, 85.5%);
  --secondary: hsl(279, 71%, 32%);
  --secondary-foreground: hsl(272.3, 16.2%, 92.3%);
  --muted: hsl(277.2, 96.1%, 82.2%);
  --muted-foreground: hsl(268, 60%, 45%);
  --accent: hsl(268, 60%, 45%);
  --accent-foreground: hsl(272.3, 16.2%, 92.3%);
  --destructive: hsl(277.3, 45.6%, 42.4%);
  --destructive-foreground: hsl(343, 94%, 82%);

  --border: hsl(268, 60%, 45%);
  --input: hsl(268, 60%, 45%);
  --ring: hsl(279.2, 74.7%, 69.8%);
  --friend: hsl(54, 100%, 50%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utils {
  .container {
    @apply max-w-2xl mx-auto p-4 w-full border-x border-muted min-h-full;
  }
}
